
    <div ng-app="app" ng-controller="MainCtrl">

             <h1>User Details</h1><br /><br />

        <table style="width=200%">
            <tr>
                <th>Username</th>
                <th>Email</th>
                <th>Password</th>
                <th>Actions</th>
            </tr>
            <tr ng-repeat="x in Details">
                <td>{{ x.username }}</td>
                <td>{{ x.email }}</td>
                <td>{{ x.password }}</td>
                <td><input type="button" value="Delete" ng-click="delete(x.id)"> | <input type="button" value="Edit" ng-click="edit(x.id, x.username, x.email, x.password)"> </td>
            </tr>
        </table>

         <!--<a href="#adduser">Create New User</a>--><br>
        <input type="button" value="Add" ng-click="adduser()">


   </div>
